<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit Bug</h1>

    <%- include('bugForm') %>

        <a href="/bugs">List</a>

</html>
